.modal {
    position: relative;
}

.modal-out {
    background-color: rgba(0, 0, 0, 0.74);
    position: absolute;
    z-index: 1;
}

.modal-out .top {
    height: 5vh;
    width: 100vw;
    top: 0;
    left: 0;
}

.modal-out .right {
    height: 83vh;
    width: 20vw;
    top: 5vh;
    right: 0;
}

.modal-out .bottom {
    height: 12vh;
    width: 100vw;
    bottom: 0;
    left: 0;
}

.modal-out .left {
    height: 83vh;
    width: 20vw;
    top: 5vh;
    left: 0;
}

.modal-in {
    background-color: rgb(243, 230, 248);
    display: grid;
    grid-gap: 1%;
    grid-template-columns: 49.5% 49.5%;
    grid-template-rows: auto 45% 35% 1fr;
    height: 83vh;
    overflow: auto;
    position: absolute;
        top: 5vh;
        left: 20vw;
    width: 60vw;
    z-index: 1;
}

.modal__header {
    background-color: rgba(58, 8, 58, 0.753);
    color: white;
    font-size: 1.5rem;
    grid-column: 1 / span 2;
    grid-row: 1;
    height: 100%;
    margin: auto;
    margin-top: .5%;
    margin-bottom: 0;
    text-align: center;
    width: 98%;
}

.modal__img {
    grid-column: 1;
    padding: 1%;
}

.modal__img img {
    height: 100%;
    object-fit: fill;
    width: 100%;
}

.modal__desc {
    grid-column: 2;
    grid-row: 2 / span 2;
    line-height: 150%;
    padding: 1rem;
}

.modal__keywords {
    overflow: auto;
}

.modal__keywords__header {
    background-color: rgba(78, 17, 78, 0.753);
    color: white;
    font-size: 1.2rem;
    padding: .3rem 0 .3rem 0;
    text-align: center;
    margin-bottom: .2rem;
}

.modal__keywords .keyword {
    font-size: 1rem;
    padding-left: 20%;
}

.modal__links {
    grid-column: 1 / span 2;
    grid-row: 4;
    padding-top: 1%;
    position: relative;
}

.modal__links a {
    background-color: rgba(201, 170, 201, 0.753);
    display: inline block;
    padding: 1rem;
    position: absolute;
    margin: 0 15% 0 15%;
}

.modal__links a:hover {
    background-color: rgba(29, 6, 29, 0.753);
    color: white;
}

.modal__links a:nth-child(1) {
    top: 1vh;
    left: 1vw;
}

.modal__links a:nth-child(2) {
    top: 1vh;
    right: 1vw;
}