$transparent-black: rgba(0, 0, 0, 0.65);
$currtab-pink: rgba(243, 159, 159, 0.719);

.navbar {
    align-items: center;
    background-color: $transparent-black;
    display: flex;
    height: 15vh;
    width: 100vw;
    justify-content: center;
    position: absolute;
    bottom: 0px;
}

#navbar__name {
    color: white;
    font-size: 2.5rem;
    position: absolute;
    margin: auto;
    
    &:before{
        border-top: .2em solid $currtab-pink;
        border-right: .2em solid transparent;
        border-bottom: .2em solid $currtab-pink;
        content: '';
    }
    
    &:after {
        border-top: .2em solid $currtab-pink;
        border-bottom: .2em solid $currtab-pink;
        border-left: .2em solid transparent;
        content: '';
    }
}