.button {
    color: white;
    position: relative;
    font-size: 1.7rem;
}

.button:hover {
    border: 2px solid rgb(163, 224, 248);
    background-color: white;
    color: rgb(16, 50, 63);
}

.button.left {
    margin-right: 20vw;
}

.button.left:before {
    border-top: .5em solid transparent;
    border-right: .5em solid beige;
    border-bottom: .5em solid transparent;
    content: '';
    position: absolute;
        left: -.8em;
}

.button.left:after {
    border-top: .3em solid transparent;
    border-right: .3em solid rgba(0, 0, 0, 0.65);
    border-bottom: .3em solid transparent;
    content: '';
    position: absolute;
        top: .2em;
        left: -.6em;
}

.button.right {
    margin-left: 20vw;
}

.button.right:before {
    border-top: .5em solid transparent;
    border-bottom: .5em solid transparent;
    border-left: .5em solid beige;
    content: '';
    position: absolute;
        right: -.8em;
}

.button.right:after {
    border-top: .3em solid transparent;
    border-bottom: .3em solid transparent;
    border-left: .3em solid rgba(0, 0, 0, 0.65);
    content: '';
    position: absolute;
        top: .2em;
        right: -.6em;
}